::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(94, 197, 255, 0.95));
}

 @import 'block/title.scss';
 @import 'block/blocas.scss';
 @import 'block/menu.scss';